src/Api.Application/bin/Debug/net7.0/Application
src/Api.Application/bin/Debug/net7.0/Application.deps.json
src/Api.Application/bin/Debug/net7.0/Application.dll
src/Api.Application/bin/Debug/net7.0/Application.pdb
src/Api.Application/bin/Debug/net7.0/Application.runtimeconfig.json
src/Api.Application/bin/Debug/net7.0/appsettings.Development.json
src/Api.Application/bin/Debug/net7.0/appsettings.json
src/Api.Application/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
src/Api.Application/bin/Debug/net7.0/Microsoft.OpenApi.dll
src/Api.Application/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
src/Api.Application/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
src/Api.Application/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
src/Api.Application/obj/Application.csproj.nuget.dgspec.json
src/Api.Application/obj/Application.csproj.nuget.g.props
src/Api.Application/obj/Application.csproj.nuget.g.targets
src/Api.Application/obj/project.assets.json
src/Api.Application/obj/project.nuget.cache
src/Api.Application/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
src/Api.Application/obj/Debug/net7.0/apphost
src/Api.Application/obj/Debug/net7.0/Application.AssemblyInfo.cs
src/Api.Application/obj/Debug/net7.0/Application.AssemblyInfoInputs.cache
src/Api.Application/obj/Debug/net7.0/Application.assets.cache
src/Api.Application/obj/Debug/net7.0/Application.csproj.AssemblyReference.cache
src/Api.Application/obj/Debug/net7.0/Application.csproj.CopyComplete
src/Api.Application/obj/Debug/net7.0/Application.csproj.CoreCompileInputs.cache
src/Api.Application/obj/Debug/net7.0/Application.csproj.FileListAbsolute.txt
src/Api.Application/obj/Debug/net7.0/Application.dll
src/Api.Application/obj/Debug/net7.0/Application.GeneratedMSBuildEditorConfig.editorconfig
src/Api.Application/obj/Debug/net7.0/Application.genruntimeconfig.cache
src/Api.Application/obj/Debug/net7.0/Application.GlobalUsings.g.cs
src/Api.Application/obj/Debug/net7.0/Application.MvcApplicationPartsAssemblyInfo.cache
src/Api.Application/obj/Debug/net7.0/Application.MvcApplicationPartsAssemblyInfo.cs
src/Api.Application/obj/Debug/net7.0/Application.pdb
src/Api.Application/obj/Debug/net7.0/staticwebassets.build.json
src/Api.Application/obj/Debug/net7.0/ref/Application.dll
src/Api.Application/obj/Debug/net7.0/refint/Application.dll
src/Api.Application/obj/Debug/net7.0/staticwebassets/msbuild.build.Application.props
src/Api.Application/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.Application.props
src/Api.Application/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.Application.props
src/Api.CrossCutting/bin/Debug/net7.0/CrossCutting.deps.json
src/Api.CrossCutting/bin/Debug/net7.0/CrossCutting.dll
src/Api.CrossCutting/bin/Debug/net7.0/CrossCutting.pdb
src/Api.CrossCutting/obj/CrossCutting.csproj.nuget.dgspec.json
src/Api.CrossCutting/obj/CrossCutting.csproj.nuget.g.props
src/Api.CrossCutting/obj/CrossCutting.csproj.nuget.g.targets
src/Api.CrossCutting/obj/project.assets.json
src/Api.CrossCutting/obj/project.nuget.cache
src/Api.CrossCutting/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
src/Api.CrossCutting/obj/Debug/net7.0/CrossCutting.AssemblyInfo.cs
src/Api.CrossCutting/obj/Debug/net7.0/CrossCutting.AssemblyInfoInputs.cache
src/Api.CrossCutting/obj/Debug/net7.0/CrossCutting.assets.cache
src/Api.CrossCutting/obj/Debug/net7.0/CrossCutting.csproj.AssemblyReference.cache
src/Api.CrossCutting/obj/Debug/net7.0/CrossCutting.csproj.CoreCompileInputs.cache
src/Api.CrossCutting/obj/Debug/net7.0/CrossCutting.csproj.FileListAbsolute.txt
src/Api.CrossCutting/obj/Debug/net7.0/CrossCutting.dll
src/Api.CrossCutting/obj/Debug/net7.0/CrossCutting.GeneratedMSBuildEditorConfig.editorconfig
src/Api.CrossCutting/obj/Debug/net7.0/CrossCutting.GlobalUsings.g.cs
src/Api.CrossCutting/obj/Debug/net7.0/CrossCutting.pdb
src/Api.CrossCutting/obj/Debug/net7.0/ref/CrossCutting.dll
src/Api.CrossCutting/obj/Debug/net7.0/refint/CrossCutting.dll
src/Api.Data/bin/Debug/net7.0/Data.deps.json
src/Api.Data/bin/Debug/net7.0/Data.dll
src/Api.Data/bin/Debug/net7.0/Data.pdb
src/Api.Data/obj/Data.csproj.nuget.dgspec.json
src/Api.Data/obj/Data.csproj.nuget.g.props
src/Api.Data/obj/Data.csproj.nuget.g.targets
src/Api.Data/obj/project.assets.json
src/Api.Data/obj/project.nuget.cache
src/Api.Data/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
src/Api.Data/obj/Debug/net7.0/Data.AssemblyInfo.cs
src/Api.Data/obj/Debug/net7.0/Data.AssemblyInfoInputs.cache
src/Api.Data/obj/Debug/net7.0/Data.assets.cache
src/Api.Data/obj/Debug/net7.0/Data.csproj.AssemblyReference.cache
src/Api.Data/obj/Debug/net7.0/Data.csproj.CoreCompileInputs.cache
src/Api.Data/obj/Debug/net7.0/Data.csproj.FileListAbsolute.txt
src/Api.Data/obj/Debug/net7.0/Data.dll
src/Api.Data/obj/Debug/net7.0/Data.GeneratedMSBuildEditorConfig.editorconfig
src/Api.Data/obj/Debug/net7.0/Data.GlobalUsings.g.cs
src/Api.Data/obj/Debug/net7.0/Data.pdb
src/Api.Data/obj/Debug/net7.0/ref/Data.dll
src/Api.Data/obj/Debug/net7.0/refint/Data.dll
src/Api.Domain/bin/Debug/net7.0/DOmain.deps.json
src/Api.Domain/bin/Debug/net7.0/DOmain.dll
src/Api.Domain/bin/Debug/net7.0/DOmain.pdb
src/Api.Domain/obj/DOmain.csproj.nuget.dgspec.json
src/Api.Domain/obj/DOmain.csproj.nuget.g.props
src/Api.Domain/obj/DOmain.csproj.nuget.g.targets
src/Api.Domain/obj/project.assets.json
src/Api.Domain/obj/project.nuget.cache
src/Api.Domain/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
src/Api.Domain/obj/Debug/net7.0/DOmain.AssemblyInfo.cs
src/Api.Domain/obj/Debug/net7.0/DOmain.AssemblyInfoInputs.cache
src/Api.Domain/obj/Debug/net7.0/DOmain.assets.cache
src/Api.Domain/obj/Debug/net7.0/DOmain.csproj.AssemblyReference.cache
src/Api.Domain/obj/Debug/net7.0/DOmain.csproj.CoreCompileInputs.cache
src/Api.Domain/obj/Debug/net7.0/DOmain.csproj.FileListAbsolute.txt
src/Api.Domain/obj/Debug/net7.0/DOmain.dll
src/Api.Domain/obj/Debug/net7.0/DOmain.GeneratedMSBuildEditorConfig.editorconfig
src/Api.Domain/obj/Debug/net7.0/DOmain.GlobalUsings.g.cs
src/Api.Domain/obj/Debug/net7.0/DOmain.pdb
src/Api.Domain/obj/Debug/net7.0/ref/DOmain.dll
src/Api.Domain/obj/Debug/net7.0/refint/DOmain.dll
src/Api.Service/bin/Debug/net7.0/Service.deps.json
src/Api.Service/bin/Debug/net7.0/Service.dll
src/Api.Service/bin/Debug/net7.0/Service.pdb
src/Api.Service/obj/project.assets.json
src/Api.Service/obj/project.nuget.cache
src/Api.Service/obj/Service.csproj.nuget.dgspec.json
src/Api.Service/obj/Service.csproj.nuget.g.props
src/Api.Service/obj/Service.csproj.nuget.g.targets
src/Api.Service/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
src/Api.Service/obj/Debug/net7.0/Service.AssemblyInfo.cs
src/Api.Service/obj/Debug/net7.0/Service.AssemblyInfoInputs.cache
src/Api.Service/obj/Debug/net7.0/Service.assets.cache
src/Api.Service/obj/Debug/net7.0/Service.csproj.AssemblyReference.cache
src/Api.Service/obj/Debug/net7.0/Service.csproj.CoreCompileInputs.cache
src/Api.Service/obj/Debug/net7.0/Service.csproj.FileListAbsolute.txt
src/Api.Service/obj/Debug/net7.0/Service.dll
src/Api.Service/obj/Debug/net7.0/Service.GeneratedMSBuildEditorConfig.editorconfig
src/Api.Service/obj/Debug/net7.0/Service.GlobalUsings.g.cs
src/Api.Service/obj/Debug/net7.0/Service.pdb
src/Api.Service/obj/Debug/net7.0/ref/Service.dll
src/Api.Service/obj/Debug/net7.0/refint/Service.dll
